.idea
.vscode
Лабораторна робота1/звіт лаб1.docx
Лабораторна робота2/звіт лаб2.docx
Лабораторна робота3/звіт лаб3.docx
Лабораторна робота4/звіт лаб4.docx
Лабораторна робота5/звіт лаб5.docx
Лабораторна робота6/звіт лаб6.docx
Лабораторна робота7/звіт лаб7.docx
Лабораторна робота8/звіт лаб8.docx
Лабораторна робота8/звіт лаб8.pdf
Лабораторна робота9/звіт лаб9.docx